<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .myclass2 {
        margin: 0 10px; 
        color: white;
        text-decoration: none;
    }
</style>

<body style="background-color: black;" >
    <div class="container2" style="text-align: center; color: white">
        <a class="myclass2" href="/">Homepage</a>
        <a class="myclass2" href="/viewmore">View More</a>
        <a class="myclass2" href="/about">About</a>
        <a class="myclass2" href="/contact">Contact</a>
        <a class="myclass2" href="/school">School</a>
    </div>
<br>
<div class="know" style="text-align: center; color:white">
    <p style="background-color: white; color: black">Know Me Well</p> 
    Hi there I am Charlyn Iriejo Cuasay <br>
    I am BSIT student <br>
    I am 20 years old <br>
    and I love being a servant of God <br>
    Don't forget to go to church every Sunday <br>
    <p>This is my project in AppDev with Node.js
        <br>
        I am not really proficient in this <br>
        Thank you still for viewing my act.
    </p>

    Do you know that this is one of my favorite artists
    <hr>
    <iframe width="656" height="369" src="https://www.youtube.com/embed/M9m3COZvbJQ" title="Cup of Joe Playlist" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>




</body>
</html>