<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poem and card</title>
    <link rel = "https://fonts.gooleapis.com/css2?family=Poppins&display=swap" rel = "stylesheet"/>
    <link rel = "stylesheet" href = "style.css"/>
    <style>
        body {
          text-align: center;
        }
        
        .myclass2 {
            margin: 0 10px; 
            color: white;
            text-decoration: none;
        }
        </style>
<body style="background-color: black">
    <div class="container2">
        <a class="myclass2" href="/">Homepage</a>
        <a class="myclass2" href="/viewmore">View More</a>
        <a class="myclass2" href="/about">About</a>
        <a class="myclass2" href="/contact">Contact</a>
        <a class="myclass2" href="/school">School</a>
    </div>
    <br>
    <h1 style="color: white; "> When Sky Meets the Sea </h1>
    <hr style="color: white;">
    <br>
    <h2 style="color:white; font-size: large; font-style: italic;">Play this first before reading</h2>
    <div class = "music" style="background-color: navy;">
        <br>
        <iframe width="890" height="501" src="https://www.youtube.com/embed/-pz8RfOWS18" title="PALAGI - TJ Monterde | OFFICIAL LYRIC VIDEO" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>     
        <h4 style="color: white; font-style: italic">
            music is the universal language of mankind.
        </h4>
        <br>
    </div>
    <hr>

    <h2 style="font-style: italic; font-size: large; color: white;"> enjoy reading! hope you like it!</h2>
            <p2 style="background-color:aliceblue"> 
                Dance with the waves,
                move with the sea,
                Let the rhythm of the water 
                set your soul free
                <br>
                <br>
                    @Christy Ann Martine
            </p2>
<hr>
        <h3 style="color: black; text-align: center; padding: right;background-color:aliceblue">
            This is not just about the ocean
            <br>
            This is my safe place
            <br>
            This is the place where I can
            <br>
            show my emotions.
            <br>
            This is the place that I am
            <br>
            longing when I need space

            <br>
            <br>
            Ocean is already part of my 
            <br>
           coping  mechanism.
           <hr>
        </h3>
        <hr>
    </div>
    <div class = video>
        <br>
        <h3 style="color: white; background-color:green">
            listen if you need to calm (set the volume in your desire mode)
        </h3>
        <p style="color: white;">
            by Charlyn Iriejo G. Cuasay 3F4
        </p>
        <br>
        <br>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/btmjDyff6E8" title="Fall Asleep with Powerful Waves at Night on Museddu Beach - Ocean Sounds for Deep Sleeping" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
    </div>
</body>
</html>